<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/normalize.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <title>
        {{title}}
    </title>
</head>
<body>
<nav>
    <ul>
        <li>

        </li>
    </ul>
</nav>
<main class="main">
    <h1>
        {{mainMessage}}
    </h1>
</main>
<aside class="keywords">
    <ul class="people_list">
        {{#each keywords}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</aside>
</body>
</html>
